*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
}
.heading
{
  text-align:center;
  margin:20px auto;
  font-size: 40px;
}
.hero
{
  margin: 20px;
  list-style-type: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.products
{
  height: 300px;
  padding: 20px;
  background-color: #888888;
  cursor: pointer;
  text-align: center;
}
.img
{
  height: 95%;
  width: 95%;
  object-fit: cover;
  margin-bottom: 2px;
}
.pagination
{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.pagination span
{
  cursor: pointer;
  margin-bottom: 3px;
  padding: 10px;
  border: 1px solid black;
}
.active
{
  background-color: #888888;
}
.no-class
{
  opacity:0;
}